.card-button {
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
  background-color: #2c2c2c;
  margin: 5px;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button.selected {
  background-color: orange;
  color: white;
  display: flex;
  justify-content: space-between;
}
.card-button:hover {
  background-color: #555;
}

.card-button:active {
  transform: scale(0.95);
}