.button {
  width: var(--height-botton);
  height: var(--height-botton);
  font-weight: 700;
  color: hsl(217, 12%, 63%);
  background-color: hsl(213, 19%, 18%);
  padding: 0;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button.selected {
  color: hsl(216, 12%, 8%);
  background-color: hsl(0, 100%, 100%);
  outline: inherit;
  border: inherit;
}

.button:hover {
  color: hsl(216, 12%, 8%);
  background-color: hsl(25, 97%, 53%);
  outline: inherit;
  border: inherit;
}

.button:active {
  transform: scale(0.95);
}
