.card-thankyou {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.img-illustration {
  width: 130px;
  padding: 10px 0 15px;
}

h3 {
  background-color: hsl(213, 19%, 18%);
  font-size: 13px;
  letter-spacing: 2px;
  color: hsl(25, 97%, 53%);
  opacity: 0.7;
  padding: 8px 16px;
  border-radius: 20px;
  margin-bottom: 20px;
}

h2 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 15px;
}

p {
  width: 94%;
  color: hsl(216, 12%, 54%);
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 25px;
}