.card-submit {
  display: flex;
  flex-direction: column;
}

.img {
  background-color: hsl(213, 19%, 18%);
  padding: 13px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.title {
  font-size: 27px;
  font-weight: 700;
  color: hsl(0, 100%, 100%);
  margin-top: 20px;
}

.paragraph {
  font-size: 15px;
  color: hsl(217, 12%, 63%);
  margin: 20px 0;
}

.rating-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 10px 0 20px;
}

.submit-button {
  width: 100%;
  padding: 15px 0;
  background-color: hsl(25, 97%, 53%);
  color: hsl(216, 12%, 8%);
  font-weight: 700;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: hsl(0, 100%, 100%);
  }
}