@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Overpass, sans-serif;
}

:root {
  --width-botton: 50px;
  --height-botton: 50px;
}

body {
  width: 100vw;
  background-color: black;
}

.card {
  width: 380px;
  height: 380px;
  padding: 2em;
  background-color: hsl(216, 12%, 8%);
  /* background-color: #00ffea42; */
  padding: 28px 22px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 12px;
  text-align: left;
}
